.hero {
  background-image: url("../assets/Hero.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  display: flex;
  margin-top: 3rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30vh;
}
.hero h1{
  font-size: 3rem;
  padding-left: 8%;
}
.hero h3 {
  font-size: 1.3rem;
  padding-left: 8%;
  padding-top: 1rem;
}
.hero button {
  font-weight: 100;
  background: #2A7AE4;
  color: #fff;
  cursor: pointer;
  border: none;
  position: relative;
  left: 8%;
  top: 2rem;
  width: 8rem;
  height: 3rem;
}