.logo {
  padding: 0 0 0 120px;
  display: flex;
  align-items: center;
  height: 114px;
}
.controller-logo {
  cursor: pointer;
}
/* @media (min-width: 760px) {
  .logo {
    background-color: aqua;
  }
} */